
.main-color {
    background-color: #0f55d8;
    text-align: 50;
}

.banner {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(42, 16, 86, 0.4)), url('../image/Gedung-UMI.jpg');
    background-size: cover;
    background-position: center;
}
.btn-custom {
    background-color: #0f55d8;
    color: rgb(10, 10, 10);
}
.about{
    background-color: #0f55d8;
    background-size: cover;
}
